@import "./../img-comparison-slider/styles.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: black;
  overflow: hidden;
  user-select: none;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  display: none;
}

#loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Manrope', sans-serif;
  font-size: 2.5rem;
  text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.675);
  letter-spacing: 4px;
  z-index: 2;
  text-transform: uppercase;
}

#grid {
  width: 100vw;
  height: 100vh;
  padding: 16px;
  display: grid;
  gap: 16px 16px;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  background-color: rgba(255, 196, 129, 0.15);
}

#grid > div {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: none;
  transition: all 0.35s;
  cursor: pointer;
  text-align: center;
  filter: drop-shadow(0 0 8px rgba(0, 0, 0, 0.2));
  box-shadow: inset 0px 0px 64px 32px rgba(0, 0, 0, 0.15);
  overflow: hidden;
  border: 2px solid white;
  z-index: 1;
}

#grid > div:hover {
  box-shadow: inset 0px 0px 128px 32px rgba(129, 240, 255, 0.25), 0px 0px 128px 64px rgba(129, 240, 255, 0.375);
  border: 8px solid rgba(129, 240, 255, 1);
  z-index: 99;
}

#grid > div:hover .text {
  backdrop-filter: blur(0);
  font-size: 5.25rem;
  color: rgba(129, 240, 255, 1);
  opacity: 0;
  letter-spacing: 12px;
}

#grid .text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(8px) sepia(0.3);
  font-family: 'Manrope', sans-serif;
  font-size: 3.25rem;
  text-shadow: 0px 0px 16px rgba(0, 0, 0, 0.675);
  letter-spacing: 4px;
  padding: 16px;
  transition: all 0.35s;
  text-transform: uppercase;
  white-space: nowrap;
}